<!-- This is the base template -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    {% load static %}   <!-- loads the static files -->

    <!-- CSS Styles -->
    <link rel="stylesheet" href="{% static 'css/page.css' %}">
    <link rel="stylesheet" href="{% static 'css/forms.css' %}">

    {% if title %}
        <title>Document - {{ title }}</title>
    {% else %}
        <title>Document</title>
    {% endif %}
</head>
<body>
    <div class="container">
        {% block content %}{% endblock %}
    </div>
</body>
</html>