{% extends "blog/base.html" %}

{% block content%}
    <h2>List of currently available hostels</h2>
    <div class="section col">
        {% for hostel in hostel_list %}
            <div class="card">
                <p> <b>{{ hostel.name }}</b> </p>
            </div>
        {% endfor %}
    </div>

    <div class="section bg">
        <h1>Find a hostel detail</h1>
        <p>want to find student detail instead? <a href="/search/" target="" rel="noopener noreferrer">click here</a></p>
        {% if error %}
            
            <p><b style="color:red;">{{ error }}</b></p>
        {% endif %}
        <form action="" method="post">
            {% csrf_token %}
            
            {{ form }}

            <input type="submit" value="submit">
        </form>
    </div>

    <div class="section teal">
        <div class="container">
                <h1>Hostel details</h1>
                <p>Once you search your data will appear here</p>
                <div class="detail"> <b>Hostel Name:</b> {{ pullSearchName }} </div>
                <div class="detail"> <b>Number of rooms:</b> {{ pullSearchRoomBaseSize }} </div>
                <div class="detail"> <b>Available Rooms:</b> {{ pullSearchRooms }} </div>
        </div>
    </div>

    <!-- <script>
        var detail = document.getElementsByClassName("detail")
        for (i = 0; i < detail.length; i++) {
            detail[i].style = "display:none;";
        }
    </script> -->
    
{% endblock content %}