{% extends "blog/base.html" %}

{% block content%}
    <div class="section col">
        {% for hostel in hostel_list %}
            <div class="card">
                <p> <b>{{ hostel.name }}</b> </p>
                <p> Available Rooms {{ hostel.rooms }}</br> </p>
            </div>
        {% endfor %}
    </div>
    <div class="section">
        There are a total of {{ numStudentsTotal }} students
        {{ noHostelPay }}
    </div>
    <div class="section bg">
        <h1>Find a student's detail</h1>
        <p>want to find hostel detail instead? <a href="/hostelOccupancy/" target="" rel="noopener noreferrer">click here</a></p>
        {% if error %}

            <b style="color:red;">{{ error }}</b>
        {% endif %}
        <form action="" method="post">
            {% csrf_token %}
            
            {{ form }}
            {% if form %}
                <input type="submit" value="submit">
            {% endif %}
        </form>
    </div>

    <div class="section teal">
        <div class="container">
                <h1>Your room details</h1>
                <p>Once you search your data will appear here</p>
                <div class="detail"> <b>Your Name:</b> {{ pullSearchName }} </div>
                <div class="detail"> <b>Your RegNo:</b> {{ pullSearchRegNo }} </div>
                <div class="detail"> <b>Your Room:</b> {{ pullSearchRoom }} </div>
                <div class="detail"> <b>Your Hostel:</b> {{ pullSearchHostel }} </div>
        </div>
    </div>

    <!-- <script>
        var detail = document.getElementsByClassName("detail")
        for (i = 0; i < detail.length; i++) {
            detail[i].style = "display:none;";
        }
    </script> -->
    
{% endblock content %}