form {
    width: 80%;
    margin: auto;
}    
input, .block {
    display: block;
    height: 2em;
    width: 60%;
    margin: 8px auto;
    border-radius: 5px;
}

input[type="text"], input[type="search"] {
    border: 3px solid olive;
}

input[type="radio"], input[type="checkbox"] {
    display: inline;
    height: 2em;
    width: auto;
    border: 3px solid olive;
}

input[type="submit"] {
    background-color: teal;
}