form {
    width: 80%;
    margin: auto;
}    
input, .block {
    display: block;
    height: 2em;
    width: 60%;
    margin: 8px auto;
    border-radius: 5px;
}

input[type="text"], input[type="search"] {
    border: 3px solid rgb(199, 199, 123);
}

input[type="radio"], input[type="checkbox"], form fieldset ul#id_sex li {
    list-style: none;
    display: inline;
    height: 2em;
    width: auto;
    border: 3px solid olive;
}

input[type="submit"] {
    background-color: red;
    /* background-color: teal; */
}

ul#id_sex li>::marker, ul#id_sex li ::marker, ul#id_sex li+::marker, ::marker {
    display: none;
    opacity: 0;
}